:root {
  --background-color: #2f4f4f;
  --title-color: #ffde59;
  --text-color: #f5f5f5;
  --button-text-color: var(--background-color)
}

a {
  color: var(--title-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#imageGallery {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 100%;
  max-height: 70%;
}

#imageGallery img {
  max-height: 60dvh;
  max-width: 80dvh;
  height: auto;
  width: auto;
  object-fit: contain;
  border-radius: 1%;
}

#newCupcakeButton {
  font-size: larger;
  color: var(--button-text-color);
}

footer {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
