:root {
  --background-color: #2f4f4f;
  --title-color: wheat;
  --text-color: #f5f5f5;
  --button-text-color: var(--background-color);
  --boardsize: min(70dvh, 80dvw);
}

a {
  color: var(--title-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

dialog {
  margin: auto;

  border: none;
  border-radius: 12px;
  padding: 1rem;
  max-width: 600px;
  width: 90vw;

  background-color: #229090;
}

dialog:not([open]) {
  display: none;
}

.dialogHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog-close {
  height: 2rem;
  background-color: transparent;
  border-radius: 5px;
}

#leaderboardDialog table {
  display: table;
  margin: 0 auto;
  border-collapse: collapse;
}

#leaderboardDialog thead {
  display: table-header-group;
}

#leaderboardDialog tbody {
  display: table-row-group;
}

#leaderboardDialog th,
#leaderboardDialog td {
  display: table-cell;
  text-align: center;
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

header {
  color: var(--title-color);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

header>button {
  background-color: #00000000;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ninjaChessContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: var(--boardsize);
  justify-content: center;
}

#ninjaGameProgress {
  display: flex;
  flex: 1 1 auto;
  width: var(--boardsize);
  height: 2.2rem;
  margin: auto;
  accent-color: chartreuse;
}

#board {
  display: flex;
  aspect-ratio: 1;
}

#board>* {
  max-width: 100%;
}

cg-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

footer {
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
}
