:root {
  --background-color: #2f4f4f;
  --title-color: wheat;
  --text-color: #f5f5f5;
  --button-text-color: var(--background-color);
  --boardsize: min(80dvh, 80dvw);
}

* {
  outline: 1px solid red;
}

a {
  color: var(--title-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

header {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#slicerContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: var(--boardsize);
  justify-content: center;
}

#board {
  display: flex;
  aspect-ratio: 1;
}

#board>* {
  max-width: 100%;
}

cg-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

footer {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
